html{
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.Contenedorlogin{
    height:55vh;
    width: 30%;
    background-color: #FAEFDA;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 12%;
    box-shadow: 0 0 15px 5px #D19155;
    font-family: 'Times New Roman', Times, serif;
}
.ContenedorRegistro{
    height:70vh;
    width: 30%;
    background-color: #FAEFDA;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 8%;
    box-shadow: 0 0 15px 5px #D19155;
    font-family: 'Times New Roman', Times, serif;
}
.Contenedor{
    text-align: center;
    width: 80%;
    margin-left:10%;
    margin-right: 10%;
    padding: 1%;
}
.Contenedor h1{
    font-size: 50px;
    text-align: center;
    color: #d19155;

}
p{
    color: black;
    font-size: 20px;
}
a{
    color: #D19155;
    text-decoration: none;
    font-size: 20px;
}
.Contenedor > input ::placeholder{
    text-align: center;
}
.Contenedor > input{
    width: 80%;
    height: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border: solid 2px #e6c098;
}
.btnLogin{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}
.btnLogin > button{
    width: 50%;
    height: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #d19155;
    border: solid 2px #e6c098;
}
.btnRegistro{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}
.btnRegistro > button{
    width: 50%;
    height: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #d19155;
    border: solid 2px #e6c098;
}

